In [159]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from ImbalancedLearningRegression import smote
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [160]:
bikes_test = pd.read_excel('bike_test.xlsx')
bikes_train = pd.read_excel('bike_train.xlsx')

In [161]:
bikes_test.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,12000,2012-05-20,2,1,5,4,0,0,0,1,0.52,0.5000,0.68,0.0896
1,12001,2012-05-20,2,1,5,5,0,0,0,1,0.50,0.4848,0.72,0.1045
2,12002,2012-05-20,2,1,5,6,0,0,0,1,0.50,0.4848,0.63,0.1343
3,12003,2012-05-20,2,1,5,7,0,0,0,1,0.52,0.5000,0.68,0.1940
4,12004,2012-05-20,2,1,5,8,0,0,0,1,0.56,0.5303,0.56,0.1642

In [162]:
bikes_train.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [163]:
#in case i need to work with the dataframe so i don't touch the original
bikes_test_copy = bikes_test.copy()
bikes_train_copy = bikes_train.copy()

In [164]:
bikes_test_copy.shape, bikes_train_copy.shape

((5380, 14), (11999, 17))

In [165]:
bikes_train_copy.columns.unique()

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [166]:
bikes_test_copy.columns.unique()

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed'],
      dtype='object')

In [167]:
bikes_train_copy.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [168]:
bikes_train_copy.info()

#we can see we don't have any null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11999 entries, 0 to 11998
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     11999 non-null  int64
 1   dteday      11999 non-null  datetime64[ns]
 2   season      11999 non-null  int64
 3   yr          11999 non-null  int64
 4   mnth        11999 non-null  int64
 5   hr          11999 non-null  int64
 6   holiday     11999 non-null  int64
 7   weekday     11999 non-null  int64
 8   workingday  11999 non-null  int64
 9   weathersit  11999 non-null  int64
 10  temp        11999 non-null  float64
 11  atemp       11999 non-null  float64
 12  hum         11999 non-null  float64
 13  windspeed   11999 non-null  float64
 14  casual      11999 non-null  int64
 15  registered  11999 non-null  int64
 16  cnt         11999 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 1.6 MB

In [169]:
bikes_train_copy.nunique()
#we can see 4 seasons, 12 months, 7 weekdays
#nothing out of the oridinary

instant       11999
dteday          506
season            4
yr                2
mnth             12
hr               24
holiday           2
weekday           7
workingday        2
weathersit        4
temp             48
atemp            65
hum              88
windspeed        30
casual          287
registered      623
cnt             713
dtype: int64

In [170]:
bikes_train_copy.isna().any()
#like we said before no missing values

instant       False
dteday        False
season        False
yr            False
mnth          False
hr            False
holiday       False
weekday       False
workingday    False
weathersit    False
temp          False
atemp         False
hum           False
windspeed     False
casual        False
registered    False
cnt           False
dtype: bool

In [171]:
#a piece of code to pair up correlation i found
#it transforms every value to abolute value, meaning negative to positive
#and then uses the unstack method to sort of transpose rows and columns
#it just works
corr = bikes_train_copy.corr()
corr_unstack = corr.abs().unstack()
corr_unstack.sort_values(ascending = False)[16:27:2]

atemp       temp      0.991785
registered  cnt       0.968540
season      mnth      0.865268
instant     yr        0.777284
cnt         casual    0.702414
registered  casual    0.503185
dtype: float64

Here we can see that atemp are temp and closely correlated so we can drop atemp since it's irrelevant
and it will only create noise

The instant column is just the ID number the daily report gets so that one has to be dropped

We can also drop instant because it's just an identifier

We can drop yr because it's irrelevant to people hiring rental bikes

Finally we can also drop the dteday column because they are the same every year and has nothing to do
with the issue, the only relevant data related to date is the day of the week,
if it is a working day or not and if it's a holiday

In [172]:
#the following columns have a set number of values so they can be turned into category types
#we can just copy the names in the results of the cell above
columns_to_category = ["dteday", "season", "yr", "mnth", "hr", "holiday", "weekday", "workingday", "weathersit"]
#the following fields after weathersit, like temp and hr, have too many variables
#so they can't be categories
for column in columns_to_category:
    bikes_train_copy[column] = bikes_train_copy[column].astype('category')

In [173]:
bikes_train_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11999 entries, 0 to 11998
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     11999 non-null  int64
 1   dteday      11999 non-null  category
 2   season      11999 non-null  category
 3   yr          11999 non-null  category
 4   mnth        11999 non-null  category
 5   hr          11999 non-null  category
 6   holiday     11999 non-null  category
 7   weekday     11999 non-null  category
 8   workingday  11999 non-null  category
 9   weathersit  11999 non-null  category
 10  temp        11999 non-null  float64
 11  atemp       11999 non-null  float64
 12  hum         11999 non-null  float64
 13  windspeed   11999 non-null  float64
 14  casual      11999 non-null  int64
 15  registered  11999 non-null  int64
 16  cnt         11999 non-null  int64
dtypes: category(9), float64(4), int64(4)
memory usage: 889.6 KB

In [174]:
#it would be nice if the columns were easily recognizable
#it's a good idea to rename them when neccesary
bikes_train_copy.rename(columns= {'dteday':'date', 'yr':'year', 'mnth':'month', 'hr': 'hour', 'weathersit': 'weather', 'temp': 'temperature_C', 'atemp': 'temperature_wind-chill_factor_C',  'hum':'humidity', 'cnt':'count'}, inplace= True)
bikes_train_copy.head()

,instant,date,season,year,month,hour,holiday,weekday,workingday,weather,temperature_C,temperature_wind-chill_factor_C,humidity,windspeed,casual,registered,count
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [175]:
#here we are dropping the columns mentioned above
bikes_train_copy = bikes_train_copy.drop(columns=['instant', 'temperature_wind-chill_factor_C', 'date', 'year'],axis=1)

In [176]:
bikes_train_copy.head()

,season,month,hour,holiday,weekday,workingday,weather,temperature_C,humidity,windspeed,casual,registered,count
0,1,1,0,0,6,0,1,0.24,0.81,0.0,3,13,16
1,1,1,1,0,6,0,1,0.22,0.80,0.0,8,32,40
2,1,1,2,0,6,0,1,0.22,0.80,0.0,5,27,32
3,1,1,3,0,6,0,1,0.24,0.75,0.0,3,10,13
4,1,1,4,0,6,0,1,0.24,0.75,0.0,0,1,1

In [177]:
#now we can transform each column, season, month, etc.
#and split them into their variables
#e.g weekday[0, 1, 2, 3, 4, 5, 6] into weekday_1, weekday_2, etc.
#and it will have a 1 when the state is true and 0 for the rest
categories_to_split = ['season', 'month', 'hour', 'holiday', 'weekday', 'workingday', 'weather']
bikes_train_copy = pd.get_dummies(bikes_train_copy, columns = categories_to_split, drop_first= True)
bikes_train_copy.head()

,temperature_C,humidity,windspeed,casual,registered,count,season_2,season_3,season_4,month_2,...,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,workingday_1,weather_2,weather_3,weather_4
0,0.24,0.81,0.0,3,13,16,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0.22,0.80,0.0,8,32,40,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0.22,0.80,0.0,5,27,32,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0.24,0.75,0.0,3,10,13,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,0.24,0.75,0.0,0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [156]:
#Using ImbalancedLinearRegression.smote we oversample the dataset creating new values based on
#current ones to have a bigger sample size
#we don't have enough samples to make a proper prediction
#this takes the "y" value, "count" in this case and
#using its neighbours generate new samples

data_bikes = smote(
    data = bikes_train_copy,
    y = 'count', #target column
    k = 5, #number of neighbours to consider
    samp_method = 'extreme',
    rel_thres = 0.9, #to determine what is considered rare
    rel_method = 'auto', #manual requires proper knowledge of how the function works, auto for now
    rel_xtrm_type = 'high', #we use high so rare values appearing rarely is considered normal
    rel_coef = 0.9
)

dist_matrix: 100%|##########| 1431/1431 [15:01<00:00,  1.59it/s]
synth_matrix: 100%|##########| 1431/1431 [00:19<00:00, 74.68it/s]
r_index: 100%|##########| 572/572 [00:01<00:00, 490.14it/s]