In [34]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import RandomizedSearchCV
from ImbalancedLearningRegression import smote
from sklearn.metrics import r2_score, mean_squared_error

In [35]:
import pprint

In [36]:
bikes_test = pd.read_excel('bike_test.xlsx')
bikes_train = pd.read_excel('bike_train.xlsx')

In [37]:
bikes_test.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed
0,12000,2012-05-20,2,1,5,4,0,0,0,1,0.52,0.5000,0.68,0.0896
1,12001,2012-05-20,2,1,5,5,0,0,0,1,0.50,0.4848,0.72,0.1045
2,12002,2012-05-20,2,1,5,6,0,0,0,1,0.50,0.4848,0.63,0.1343
3,12003,2012-05-20,2,1,5,7,0,0,0,1,0.52,0.5000,0.68,0.1940
4,12004,2012-05-20,2,1,5,8,0,0,0,1,0.56,0.5303,0.56,0.1642

In [38]:
bikes_train.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [39]:
#in case i need to work with the dataframe so i don't touch the original
bikes_test_copy = bikes_test.copy()
bikes_train_copy = bikes_train.copy()

In [40]:
bikes_test_copy.shape, bikes_train_copy.shape

((5380, 14), (11999, 17))

In [41]:
bikes_train_copy.columns.unique()

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [42]:
bikes_test_copy.columns.unique()

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed'],
      dtype='object')

In [43]:
bikes_train_copy.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [44]:
bikes_train_copy.info()

#we can see we don't have any null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11999 entries, 0 to 11998
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     11999 non-null  int64
 1   dteday      11999 non-null  datetime64[ns]
 2   season      11999 non-null  int64
 3   yr          11999 non-null  int64
 4   mnth        11999 non-null  int64
 5   hr          11999 non-null  int64
 6   holiday     11999 non-null  int64
 7   weekday     11999 non-null  int64
 8   workingday  11999 non-null  int64
 9   weathersit  11999 non-null  int64
 10  temp        11999 non-null  float64
 11  atemp       11999 non-null  float64
 12  hum         11999 non-null  float64
 13  windspeed   11999 non-null  float64
 14  casual      11999 non-null  int64
 15  registered  11999 non-null  int64
 16  cnt         11999 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 1.6 MB

In [45]:
bikes_train_copy.nunique()
#we can see 4 seasons, 12 months, 7 weekdays
#nothing out of the oridinary

instant       11999
dteday          506
season            4
yr                2
mnth             12
hr               24
holiday           2
weekday           7
workingday        2
weathersit        4
temp             48
atemp            65
hum              88
windspeed        30
casual          287
registered      623
cnt             713
dtype: int64

In [46]:
bikes_train_copy.isna().any()
#like we said before no missing values

instant       False
dteday        False
season        False
yr            False
mnth          False
hr            False
holiday       False
weekday       False
workingday    False
weathersit    False
temp          False
atemp         False
hum           False
windspeed     False
casual        False
registered    False
cnt           False
dtype: bool

In [47]:
#a piece of code to pair up correlation i found
#it transforms every value to abolute value, meaning negative to positive
#and then uses the unstack method to sort of transpose rows and columns
#it just works
corr = bikes_train_copy.corr()
corr_unstack = corr.abs().unstack()
corr_unstack.sort_values(ascending = False)[16:27:2]

atemp       temp      0.991785
registered  cnt       0.968540
season      mnth      0.865268
instant     yr        0.777284
cnt         casual    0.702414
registered  casual    0.503185
dtype: float64

Here we can see that atemp are temp and closely correlated so we can drop atemp since it's irrelevant
and it will only create noise

The instant column is just the ID number the daily report gets so that one has to be dropped

We can also drop instant because it's just an identifier

We can drop yr because it's irrelevant to people hiring rental bikes

Finally we can also drop the dteday column because they are the same every year and has nothing to do
with the issue, the only relevant data related to date is the day of the week,
if it is a working day or not and if it's a holiday

In [48]:
#the following columns have a set number of values so they can be turned into category types
#we can just copy the names in the results of the cell above
columns_to_category = ["dteday", "season", "yr", "mnth", "hr", "holiday", "weekday", "workingday", "weathersit"]
#the following fields after weathersit, like temp and hr, have too many variables
#so they can't be categories
for column in columns_to_category:
    bikes_train_copy[column] = bikes_train_copy[column].astype('category')

In [49]:
for column in columns_to_category:
    bikes_test_copy[column] = bikes_test_copy[column].astype('category')

In [50]:
bikes_train_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11999 entries, 0 to 11998
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     11999 non-null  int64
 1   dteday      11999 non-null  category
 2   season      11999 non-null  category
 3   yr          11999 non-null  category
 4   mnth        11999 non-null  category
 5   hr          11999 non-null  category
 6   holiday     11999 non-null  category
 7   weekday     11999 non-null  category
 8   workingday  11999 non-null  category
 9   weathersit  11999 non-null  category
 10  temp        11999 non-null  float64
 11  atemp       11999 non-null  float64
 12  hum         11999 non-null  float64
 13  windspeed   11999 non-null  float64
 14  casual      11999 non-null  int64
 15  registered  11999 non-null  int64
 16  cnt         11999 non-null  int64
dtypes: category(9), float64(4), int64(4)
memory usage: 889.6 KB

In [51]:
#it would be nice if the columns were easily recognizable
#it's a good idea to rename them when neccesary
bikes_train_copy.rename(columns= {'dteday':'date', 'yr':'year', 'mnth':'month', 'hr': 'hour', 'weathersit': 'weather', 'temp': 'temperature_C', 'atemp': 'temperature_wind-chill_factor_C',  'hum':'humidity', 'cnt':'count'}, inplace= True)
bikes_train_copy.head()

,instant,date,season,year,month,hour,holiday,weekday,workingday,weather,temperature_C,temperature_wind-chill_factor_C,humidity,windspeed,casual,registered,count
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [52]:
bikes_test_copy.rename(columns= {'dteday':'date', 'yr':'year', 'mnth':'month', 'hr': 'hour', 'weathersit': 'weather', 'temp': 'temperature_C', 'atemp': 'temperature_wind-chill_factor_C',  'hum':'humidity', 'cnt':'count'}, inplace= True)
bikes_test_copy.head()

,instant,date,season,year,month,hour,holiday,weekday,workingday,weather,temperature_C,temperature_wind-chill_factor_C,humidity,windspeed
0,12000,2012-05-20,2,1,5,4,0,0,0,1,0.52,0.5000,0.68,0.0896
1,12001,2012-05-20,2,1,5,5,0,0,0,1,0.50,0.4848,0.72,0.1045
2,12002,2012-05-20,2,1,5,6,0,0,0,1,0.50,0.4848,0.63,0.1343
3,12003,2012-05-20,2,1,5,7,0,0,0,1,0.52,0.5000,0.68,0.1940
4,12004,2012-05-20,2,1,5,8,0,0,0,1,0.56,0.5303,0.56,0.1642

In [53]:
#here we are dropping the columns mentioned above
bikes_train_copy = bikes_train_copy.drop(columns=['instant', 'temperature_wind-chill_factor_C', 'date', 'year'],axis=1)

In [54]:
bikes_test_copy = bikes_test_copy.drop(columns=['instant', 'temperature_wind-chill_factor_C', 'date', 'year'],axis=1)

In [55]:
bikes_train_copy.head()

,season,month,hour,holiday,weekday,workingday,weather,temperature_C,humidity,windspeed,casual,registered,count
0,1,1,0,0,6,0,1,0.24,0.81,0.0,3,13,16
1,1,1,1,0,6,0,1,0.22,0.80,0.0,8,32,40
2,1,1,2,0,6,0,1,0.22,0.80,0.0,5,27,32
3,1,1,3,0,6,0,1,0.24,0.75,0.0,3,10,13
4,1,1,4,0,6,0,1,0.24,0.75,0.0,0,1,1

In [56]:
bikes_test_copy.head()

,season,month,hour,holiday,weekday,workingday,weather,temperature_C,humidity,windspeed
0,2,5,4,0,0,0,1,0.52,0.68,0.0896
1,2,5,5,0,0,0,1,0.50,0.72,0.1045
2,2,5,6,0,0,0,1,0.50,0.63,0.1343
3,2,5,7,0,0,0,1,0.52,0.68,0.1940
4,2,5,8,0,0,0,1,0.56,0.56,0.1642

In [57]:
data_bikes_copy = bikes_train_copy.copy()

In [58]:
#X is going to be the dataset minus the 3 columns with rentals, casual, registered and count
#y is going to be those casual and registered, not count since it's just the sum of the previous two
X = data_bikes_copy.drop(columns=['casual', 'registered', 'count'])
y = data_bikes_copy[['casual', 'registered']]
X.shape, y.shape

((11999, 10), (11999, 2))

In [59]:
#here we just split the sets like always
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

trying random forest

In [60]:
#we are just declaring the model
random_forest_model = RandomForestRegressor(random_state=42)

In [61]:
#we just use fit and predict like in any model
random_forest_model.fit(X_train, y_train)
random_forest_model_prediction = random_forest_model.predict(X_test)

In [62]:
#we get each score and multiply the r2 score so it's a number between 0 and 100
print('R2 Score: ', r2_score(y_test, random_forest_model_prediction)*100)
print('RMSE: ', np.sqrt(mean_squared_error(y_test, random_forest_model_prediction)))

R2 Score:  86.7901673924033
RMSE:  33.413251247040826

In [63]:
random_forest_model_prediction_train = random_forest_model.predict(X_train)

In [64]:
print('R2 Score: ', r2_score(y_train, random_forest_model_prediction_train)*100)
print('RMSE: ', np.sqrt(mean_squared_error(y_train, random_forest_model_prediction_train)))

R2 Score:  98.12943890432346
RMSE:  12.870783646421817

In [67]:
X.shape, bikes_test_copy.shape

((11999, 10), (5380, 10))

In [68]:
random_forest_model_prediction_proper = random_forest_model.predict(bikes_test_copy)

In [69]:
random_forest_model_prediction_proper

array([[ 3.73,  8.44],
       [ 4.38,  8.09],
       [ 6.08, 12.53],
       ...,
       [ 5.69, 71.65],
       [ 4.03, 80.3 ],
       [ 2.97, 30.63]])

In [79]:
random_forest_model_prediction_proper_col_1 = [n[0] for n in random_forest_model_prediction_proper]
random_forest_model_prediction_proper_col_2 = [n[1] for n in random_forest_model_prediction_proper]
random_forest_model_prediction_proper_col_3 = [(n[0]+n[1]) for n in random_forest_model_prediction_proper]
random_forest_model_prediction_proper_col_3

[12.17,
 12.469999999999999,
 18.61,
 38.980000000000004,
 129.57,
 225.09000000000003,
 352.90999999999997,
 579.0799999999999,
 588.91,
 625.74,
 545.28,
 538.98,
 504.54999999999995,
 380.52,
 369.07,
 305.71,
 256.74,
 163.33,
 130.31,
 48.34,
 22.98,
 15.23,
 9.940000000000001,
 7.319999999999999,
 5.19,
 16.349999999999998,
 55.78,
 97.35000000000001,
 400.31,
 141.63,
 83.46000000000001,
 131.98,
 184.73000000000002,
 130.09,
 124.5,
 186.19,
 308.93,
 588.56,
 564.6800000000001,
 397.43,
 270.04,
 210.32,
 127.44999999999999,
 66.86,
 22.16,
 15.01,
 7.369999999999999,
 3.7,
 4.12,
 11.57,
 64.14,
 142.49,
 534.34,
 287.12,
 150.1,
 161.56,
 188.54000000000002,
 191.09,
 195.92,
 224.99,
 324.90000000000003,
 659.04,
 645.44,
 413.73,
 329.08000000000004,
 223.04000000000002,
 153.87,
 82.4,
 40.88,
 17.869999999999997,
 11.870000000000001,
 4.39,
 3.6500000000000004,
 14.2,
 121.78,
 337.45000000000005,
 614.1700000000001,
 273.71000000000004,
 161.33,
 170.64,
 211.74,
 199.77999999999997,
 206.1,
 240.45999999999998,
 292.36,
 572.11,
 559.3000000000001,
 317.23,
 227.44,
 172.49,
 145.24,
 83.91,
 41.45,
 21.29,
 12.559999999999999,
 3.7399999999999998,
 3.87,
 24.830000000000002,
 113.78999999999999,
 314.39000000000004,
 508.54,
 221.84,
 158.79,
 181.62,
 256.73,
 250.9,
 179.5,
 179.89999999999998,
 290.33,
 628.92,
 509.96000000000004,
 426.12,
 351.42999999999995,
 165.3,
 173.57,
 101.84,
 53.56999999999999,
 39.25,
 13.0,
 5.46,
 5.35,
 24.09,
 106.34,
 286.51,
 505.62,
 232.83,
 176.17000000000002,
 196.45,
 287.66,
 271.8,
 264.67,
 261.63,
 418.31,
 567.25,
 556.59,
 399.57,
 304.34,
 238.54000000000002,
 189.82999999999998,
 143.68,
 129.48,
 87.64999999999999,
 58.769999999999996,
 29.549999999999997,
 9.93,
 5.37,
 19.95,
 59.86,
 130.32999999999998,
 215.03000000000003,
 268.23,
 404.05,
 402.15,
 429.96,
 424.24,
 412.36,
 438.08000000000004,
 426.4,
 407.55,
 295.18,
 274.06,
 213.81,
 193.19,
 145.53,
 107.75,
 87.68,
 68.26,
 39.82,
 7.970000000000001,
 7.51,
 20.16,
 38.35,
 97.21,
 201.18,
 299.31,
 388.69,
 392.46000000000004,
 432.39,
 435.2,
 451.61,
 432.15999999999997,
 392.75,
 373.82000000000005,
 301.67,
 248.93,
 170.6,
 109.78999999999999,
 55.72,
 110.94,
 79.06,
 33.92,
 28.5,
 13.23,
 18.35,
 64.56,
 100.35000000000001,
 119.44,
 223.14,
 335.1,
 317.49,
 320.17,
 316.62,
 313.55,
 317.51,
 313.43,
 458.12,
 413.87,
 334.35,
 252.26,
 194.04,
 132.16,
 83.67,
 31.650000000000002,
 16.86,
 9.95,
 4.61,
 4.71,
 23.8,
 109.64,
 302.64,
 467.62,
 199.88,
 131.32999999999998,
 141.82999999999998,
 188.07,
 178.32,
 171.18,
 168.85,
 264.92,
 530.9100000000001,
 515.38,
 393.55,
 189.88,
 123.15,
 134.82999999999998,
 51.69,
 30.72,
 12.66,
 8.88,
 3.6399999999999997,
 3.61,
 23.509999999999998,
 119.8,
 216.31,
 555.8199999999999,
 232.75,
 135.85,
 158.17,
 260.78000000000003,
 242.03,
 337.86,
 223.54000000000002,
 347.96,
 715.1,
 731.25,
 481.24,
 272.64,
 249.91,
 170.53,
 92.2,
 42.739999999999995,
 26.81,
 11.25,
 4.08,
 4.42,
 25.97,
 121.0,
 309.38,
 492.65999999999997,
 226.29,
 153.28,
 170.45999999999998,
 305.9,
 218.87,
 173.28,
 178.35,
 301.35,
 715.04,
 693.52,
 470.72999999999996,
 334.73,
 255.70000000000002,
 190.22,
 105.75,
 64.95,
 24.55,
 13.16,
 5.7299999999999995,
 5.83,
 22.23,
 74.04,
 309.55,
 448.16,
 230.2,
 143.84,
 168.91,
 172.06,
 193.47,
 157.29,
 157.62,
 307.03,
 435.71,
 299.38,
 260.6,
 126.83,
 170.11,
 106.67999999999999,
 128.36,
 124.62,
 98.75,
 60.14,
 29.85,
 7.5,
 6.5600000000000005,
 29.97,
 49.37,
 156.52,
 220.07,
 309.15,
 367.49,
 428.54999999999995,
 434.92,
 434.18,
 434.58000000000004,
 435.90999999999997,
 416.82000000000005,
 379.34000000000003,
 318.27,
 268.74,
 216.71,
 228.31,
 166.49,
 113.16000000000001,
 97.54,
 62.1,
 34.010000000000005,
 11.86,
 10.52,
 19.6,
 44.150000000000006,
 115.4,
 215.61,
 302.61,
 391.39,
 429.97,
 427.06,
 429.81,
 417.03,
 420.47,
 389.63,
 386.51,
 323.86,
 249.04000000000002,
 157.75,
 132.05,
 73.27000000000001,
 36.85,
 16.91,
 11.57,
 5.83,
 6.87,
 22.69,
 102.06,
 305.46,
 461.4,
 198.76999999999998,
 131.32999999999998,
 165.81,
 186.06,
 199.01,
 186.79,
 219.04999999999998,
 278.26,
 576.47,
 551.6800000000001,
 394.88,
 250.82,
 210.23,
 131.81,
 71.67999999999999,
 32.23,
 13.82,
 5.55,
 3.27,
 3.75,
 12.629999999999999,
 105.39999999999999,
 321.6,
 460.68,
 223.8,
 132.18,
 156.37,
 180.41,
 187.38,
 171.94,
 187.79,
 308.67999999999995,
 568.64,
 554.37,
 386.08000000000004,
 303.65,
 231.42000000000002,
 174.33,
 87.86,
 39.15,
 16.0,
 7.8100000000000005,
 4.88,
 4.11,
 23.72,
 117.11999999999999,
 315.55,
 506.02000000000004,
 239.76,
 147.79,
 168.79,
 234.95000000000002,
 226.14000000000001,
 210.64000000000001,
 213.01999999999998,
 313.3,
 586.63,
 482.66,
 339.88,
 302.39,
 241.82000000000002,
 152.76000000000002,
 81.16,
 42.04,
 19.75,
 7.609999999999999,
 4.59,
 4.23,
 24.200000000000003,
 117.41,
 334.59000000000003,
 488.79999999999995,
 247.75,
 144.52,
 168.66,
 244.09,
 234.88,
 355.08,
 194.63,
 334.38,
 553.4399999999999,
 537.3,
 410.57,
 327.43,
 227.60000000000002,
 171.88000000000002,
 108.66,
 66.56,
 25.83,
 14.92,
 6.0200000000000005,
 6.28,
 24.82,
 106.58000000000001,
 318.79,
 493.28999999999996,
 231.09,
 158.37,
 172.7,
 232.82000000000002,
 228.21,
 216.99,
 244.89,
 331.65,
 531.75,
 501.94,
 387.22,
 269.96,
 250.24,
 201.29000000000002,
 149.32999999999998,
 114.82000000000001,
 93.56,
 58.53,
 34.15,
 11.260000000000002,
 12.2,
 28.76,
 52.45,
 131.61,
 219.20999999999998,
 304.83,
 354.29,
 383.64,
 390.91999999999996,
 394.09000000000003,
 379.45000000000005,
 398.28,
 417.72,
 410.83,
 318.88,
 281.9,
 207.35999999999999,
 199.08,
 145.95,
 103.81,
 88.03999999999999,
 70.25,
 33.379999999999995,
 14.149999999999999,
 10.809999999999999,
 19.2,
 39.8,
 94.36,
 206.8,
 286.23,
 363.85,
 403.87,
 381.47,
 382.38,
 375.3,
 379.89,
 362.73,
 353.22,
 301.84000000000003,
 243.58,
 198.84,
 146.46,
 74.53999999999999,
 43.55,
 17.17,
 10.16,
 4.76,
 6.34,
 21.31,
 104.02000000000001,
 300.92999999999995,
 410.28000000000003,
 193.05,
 126.3,
 134.51,
 183.56,
 185.82,
 160.14,
 165.37,
 296.8,
 535.5,
 536.3199999999999,
 354.49,
 294.67,
 200.21,
 138.14,
 75.59,
 41.65,
 18.86,
 11.559999999999999,
 3.51,
 3.59,
 11.99,
 115.36,
 187.01,
 445.01,
 237.01000000000002,
 116.86,
 132.99,
 145.79000000000002,
 154.5,
 120.64,
 131.61,
 156.91000000000003,
 318.92,
 444.56,
 355.89000000000004,
 258.53999999999996,
 199.1,
 130.0,
 53.3,
 27.53,
 20.29,
 9.44,
 4.2,
 4.01,
 24.09,
 114.03,
 320.69,
 466.53000000000003,
 251.44,
 137.46,
 166.96,
 214.62,
 196.95000000000002,
 350.53999999999996,
 397.94,
 299.95,
 547.54,
 527.74,
 395.46,
 290.81,
 220.18,
 149.84,
 92.12,
 47.08,
 23.26,
 9.120000000000001,
 4.6,
 4.470000000000001,
 23.509999999999998,
 116.14,
 321.56,
 482.03999999999996,
 238.23,
 135.51999999999998,
 164.22,
 187.82,
 191.05,
 170.51999999999998,
 178.59,
 287.57,
 598.89,
 558.73,
 404.57,
 350.9,
 247.49,
 169.9,
 105.25,
 69.44,
 22.98,
 14.030000000000001,
 6.28,
 6.11,
 26.81,
 101.66,
 326.62,
 482.39,
 236.8,
 158.26,
 176.94,
 239.45999999999998,
 234.01999999999998,
 244.23999999999998,
 256.97,
 358.41,
 549.89,
 507.51,
 388.78,
 277.92,
 231.54,
 192.85999999999999,
 167.82,
 126.84,
 101.53,
 60.72,
 28.6,
 10.870000000000001,
 11.37,
 29.619999999999997,
 46.260000000000005,
 148.25,
 221.01000000000002,
 297.36,
 396.96,
 435.52,
 416.21999999999997,
 417.2,
 411.4,
 414.75,
 384.79,
 387.83000000000004,
 309.23,
 272.03,
 226.22000000000003,
 192.89,
 167.78,
 122.91999999999999,
 97.22,
 67.19,
 33.64,
 11.35,
 12.7,
 20.4,
 45.11,
 120.53999999999999,
 201.77999999999997,
 326.0,
 357.35,
 394.83,
 412.63,
 414.15,
 408.0,
 397.01,
 367.6,
 365.81,
 333.1,
 261.59,
 167.3,
 140.81,
 78.07,
 37.62,
 15.989999999999998,
 10.34,
 4.53,
 6.84,
 13.120000000000001,
 55.39,
 82.6,
 471.06,
 213.19,
 71.43,
 117.86000000000001,
 137.17000000000002,
 177.66,
 184.05,
 177.87,
 291.18,
 531.42,
 530.91,
 332.96,
 253.71,
 216.75,
 126.88,
 51.919999999999995,
 31.52,
 13.25,
 7.51,
 2.92,
 4.53,
 23.31,
 112.82,
 320.55,
 479.51,
 215.22000000000003,
 141.88,
 153.37,
 193.21,
 181.11,
 174.35000000000002,
 168.98000000000002,
 294.0,
 536.1,
 523.4499999999999,
 377.59,
 310.51,
 210.86,
 131.26,
 78.97,
 35.16,
 18.77,
 11.42,
 4.3,
 4.23,
 23.5,
 121.71,
 297.83,
 451.5,
 228.11,
 116.91,
 130.72,
 157.86,
 149.07,
 145.97,
 141.14,
 230.05,
 480.42999999999995,
 485.81,
 383.27,
 304.77,
 233.51999999999998,
 157.9,
 92.08000000000001,
 44.4,
 22.64,
 8.72,
 5.359999999999999,
 6.449999999999999,
 24.06,
 116.11,
 299.01,
 429.14,
 190.23000000000002,
 119.51,
 129.78,
 151.42000000000002,
 144.68,
 145.75,
 128.31,
 223.91,
 468.99,
 501.79,
 358.07,
 290.75,
 231.35999999999999,
 169.23000000000002,
 114.41,
 62.230000000000004,
 24.979999999999997,
 16.009999999999998,
 8.77,
 9.41,
 22.880000000000003,
 90.74000000000001,
 281.85,
 455.99,
 225.39,
 129.75,
 148.73000000000002,
 210.71,
 183.48999999999998,
 181.89999999999998,
 165.07,
 284.22,
 468.03,
 443.12,
 287.23,
 233.41,
 162.78,
 188.01,
 137.43,
 129.45,
 82.65,
 60.98,
 29.759999999999998,
 8.4,
 5.890000000000001,
 26.61,
 47.98,
 110.52000000000001,
 223.25,
 296.95,
 376.48,
 390.07,
 398.65,
 419.43,
 395.28,
 385.63,
 389.77,
 394.43,
 312.12,
 292.81,
 205.47,
 220.48000000000002,
 151.76,
 110.5,
 87.15,
 72.35,
 34.87,
 11.8,
 11.4,
 22.96,
 45.47,
 111.19999999999999,
 196.18,
 299.02,
 372.08,
 397.61,
 404.14,
 375.34000000000003,
 320.57000000000005,
 380.59000000000003,
 379.51,
 385.37,
 306.08000000000004,
 258.51,
 196.31,
 142.36,
 75.09,
 35.56,
 22.700000000000003,
 12.16,
 7.140000000000001,
 6.2,
 23.79,
 104.72,
 302.7,
 401.14,
 197.67000000000002,
 129.2,
 140.76,
 179.76,
 191.66,
 172.31,
 164.3,
 318.8,
 556.16,
 556.48,
 344.21,
 242.81,
 214.35000000000002,
 119.46,
 76.12,
 31.229999999999997,
 15.959999999999999,
 10.26,
 5.84,
 6.24,
 27.89,
 116.64,
 319.86,
 486.69,
 257.39,
 140.15,
 173.18,
 215.57,
 219.4,
 228.05,
 429.12,
 290.54,
 547.46,
 537.02,
 407.90000000000003,
 295.88,
 249.23000000000002,
 155.07999999999998,
 94.63,
 37.86,
 17.490000000000002,
 8.45,
 4.83,
 6.59,
 29.92,
 119.14,
 354.17,
 516.6,
 238.32999999999998,
 139.59,
 168.25,
 211.71,
 197.91,
 193.37,
 183.13,
 303.22,
 543.36,
 557.27,
 378.38,
 305.75,
 270.67,
 156.89,
 119.15,
 48.599999999999994,
 27.11,
 7.3,
 6.38,
 6.88,
 26.810000000000002,
 116.5,
 310.0,
 492.01,
 229.05,
 134.82,
 163.5,
 181.32999999999998,
 173.91,
 164.61,
 166.06,
 271.43,
 480.59000000000003,
 523.1800000000001,
 370.34,
 306.69,
 228.34,
 179.37,
 118.54,
 62.120000000000005,
 26.22,
 15.299999999999999,
 6.85,
 7.8,
 27.63,
 96.8,
 273.49,
 452.25,
 221.76,
 126.58000000000001,
 132.45,
 167.28,
 166.28,
 165.22,
 171.97,
 278.87,
 454.53999999999996,
 464.1,
 310.04,
 246.71,
 201.45000000000002,
 143.15,
 111.62,
 119.61,
 70.05,
 59.83,
 30.7,
 7.76,
 7.68,
 20.82,
 52.58,
 113.57,
 207.9,
 241.79000000000002,
 308.87,
 324.3,
 322.90999999999997,
 324.28,
 328.39,
 310.61,
 336.43,
 307.91,
 292.42,
 ...]

In [75]:
prototype = pd.DataFrame()

In [80]:
prototype['casual'] = random_forest_model_prediction_proper_col_1
prototype['registered'] = random_forest_model_prediction_proper_col_2
prototype['count'] = random_forest_model_prediction_proper_col_3
prototype.head()

   casual  registered   count
0    3.73        8.44   12.17
1    4.38        8.09   12.47
2    6.08       12.53   18.61
3   11.91       27.07   38.98
4   33.44       96.13  129.57

In [81]:
# the same method we use for any other regressor
gradient_boost_model = MultiOutputRegressor(GradientBoostingRegressor(random_state=2))

gradient_boost_model.fit(X_train, y_train)
gradient_boost_model_prediction = gradient_boost_model.predict(X_test)

In [82]:
print('R2 Score: ', r2_score(y_test, gradient_boost_model_prediction)*100)
print('RMSE: ', np.sqrt(mean_squared_error(y_test, gradient_boost_model_prediction)))

R2 Score:  80.26496263267187
RMSE:  40.90748365588644

In [83]:
gradient_boost_model_prediction_train = gradient_boost_model.predict(X_train)

In [84]:
print('R2 Score: ', r2_score(y_train, gradient_boost_model_prediction_train)*100)
print('RMSE: ', np.sqrt(mean_squared_error(y_train, gradient_boost_model_prediction_train)))

R2 Score:  81.51832469982017
RMSE:  40.57883787416542

In [85]:
prototype_count = pd.DataFrame()
prototype_count['pred'] = prototype['count']
prototype_count.to_csv('KevinG91.csv')